@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ebfaf2;
  font-family: 'Ubuntu', sans-serif;
  color: #5f190c !important;
}

* { box-sizing: border-box; }
a, p {
  color: inherit;
  text-decoration: none;
  margin: 0;
}

button, input[type="submit"], input[type="reset"] {
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.margin-page { margin: 0 10vw }


.card {
  border-radius: 50px;
  background: #ebfaf2;
  box-shadow:  20px 20px 60px #c8d5ce,
               -20px -20px 60px #ffffff;
  border-radius: 4px;
  padding: 16px;
  width: 100%;
}

.title-card {
  margin: 0 0 8px 0;
  font-size: 36px;
}

/* configurar input */
.inputContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px 0 0 0;
}

.inputTitle {
  margin-bottom: 8px;
  font-weight: bold;
  z-index: 1;
}

.inputContent {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

  
  border-radius: 10px;
  background: linear-gradient(145deg, #fff, #fbffff);
  box-shadow:  20px 20px 60px #c8d5ce,
              -20px -20px 60px #ffffff;
}
.inputDayContainer {
  display: flex;
  width: 80%;
}

/* configurar botão */
.buttonSubmit {
  border-radius: 10px;
  background: linear-gradient(145deg, #ff5f4b, #ec7667);
  box-shadow:  20px 20px 60px #c8d5ce,
              -20px -20px 60px #ffffff;

  transition: ease-in-out all 200ms;
  height: 40px;
  color: #FFF;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  cursor: pointer;
  transition: ease-in-out 300ms all;
}

.buttonSubmit:hover {
  background: linear-gradient(145deg, #ec7667, #ff5f4b);
  color: #5f190c;
}

@media only screen and (max-width: 1024px) {
  .inputContainer {
    width: 80vw;
    margin-left: 10vw;
  }
  .inputDayContainer {
    width: 90vw;
    margin-left: 0;
  }
  .inputDayContainer .inputContainer {
    /* width: 80vw; */
  }
  .responsiveColumn { flex-direction: column }
  .responsiveColumn .card {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .title-card {
    font-size: 24px;
  }
}