@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #65168d, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #65168d, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Ubuntu', sans-serif;
  color:#fff;
}

textarea:focus, input:focus{
  outline: none;
}

* { box-sizing: border-box; }
a, p {
  color: inherit;
  text-decoration: none;
  margin: 0;
}

button, input[type="submit"], input[type="reset"] {
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.margin-page { margin: 0 10vw }


.card {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  width: 100%;
}

.title-card {
  margin: 0 0 8px 0;
  font-size: 36px;
  color: #fff;
}

/* configurar input */
.inputContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px 0 0 0;
}

.inputTitle {
  margin-bottom: 8px;
  font-weight: bold;
  z-index: 1;
  color: #fff;
}

.inputContent {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 0;
}
.inputDayContainer {
  display: flex;
  width: 80%;
}

/* configurar botão */
.buttonSubmit {
  border-radius: 4px;
  background: #AAFFA9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #11FFBD, #AAFFA9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: ease-in-out all 200ms;
  height: 40px;
  color: #333;
  cursor: pointer;
  transition: ease-in-out 300ms all;
}

.buttonSubmit:hover {
  background: #fff !important;
}


.responsiveColumn {
  flex-direction: row;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .inputContainer {
    width: 80vw;
    margin-left: 10vw;
  }
  .inputDayContainer {
    width: 90vw;
    margin-left: 0;
  }
  .inputDayContainer .inputContainer {
    /* width: 80vw; */
  }
  .responsiveColumn { flex-direction: column }
  .responsiveColumn .card {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .title-card {
    font-size: 24px;
  }
}